nav{
    background-color: #F2C13C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    .logo{
        width: 90px;
        height: 90px;
    }
    .bar{
        width: 25px;
        height: 25px;
    }
    div{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        li{
            padding: 0px 1rem;
            text-decoration: none;
            list-style: none;
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: bold;
            line-height: 1;
            :hover{
                color: #fff !important;
            }
        }
    }
}

@media (max-width: 768px){
    .back{
        background-color: #f7e9c3;
        justify-content: center;
    }
} 