.redir{
    background-color: #000;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__izq{
        width: 50%;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        &--img{
            height: 50vh;
            width: 30vw;
        }
    }
    &__der{
        width: 50%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &--p{
            color: #fff;
            text-transform: uppercase;
            font-size: 25px;
        }
        &--div{
            background-color: #F2C13C;
            width: 350px;
            height: 55px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            &--a{
                font-size: 17px;
                text-decoration: none;
                text-transform: uppercase;
                color: #000;
                font-weight: bold;
            }
            :hover{
                color: #fff;
                transition: background-color 1s ease-out;;
                color: #fff;
            }
        }
    }
}
@media (max-width: 425px){
    .redir{
        display: flex;
        flex-direction: column;
        height: 400px;
        justify-content: space-around;
        &__izq--img{
            height: 30vh;
            width: 50vw;
        }
        &__der{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &--p{
                font-size: 20px;
                text-align: center;
            }
            &--div{
                width: 180px;
                height: 55px;
                &--a{
                    font-size: 15px;
                    text-align: center;
                }
            }
        }
    }
} 