@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

nav {
  background-color: #F2C13C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px; }
  nav .logo {
    width: 90px;
    height: 90px; }
  nav .bar {
    width: 25px;
    height: 25px; }
  nav div {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    nav div li {
      padding: 0px 1rem;
      text-decoration: none;
      list-style: none;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: bold;
      line-height: 1; }
      nav div li :hover {
        color: #fff !important; }

@media (max-width: 768px) {
  .back {
    background-color: #F2C13C;
    justify-content: center;
    margin: 0px; } }

.main__img {
  width: 100%;
  height: 90vh;
  margin: 0px; }

@media (max-width: 425px) {
  .main__img {
    width: 100%;
    height: 40vh; } }

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 100px;
  background-color: #666F79; }
  .footer__izq {
    display: flex;
    width: 220px;
    height: 90px;
    align-items: center;
    justify-content: center; }
    .footer__izq--img {
      width: 2.5rem;
      height: 2.5rem; }
    .footer__izq--p {
      font-size: 15px;
      padding: 0.5rem;
      color: #fff; }
  .footer__der--img {
    width: 2.5rem;
    height: 2.5rem; }

.contenedor {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  color: #333333; }
  .contenedor__div {
    box-shadow: 0 0 20px 0 white;
    padding: 1rem; }
    .contenedor__div__nosotros {
      background-color: #E8E8E8; }
      .contenedor__div__nosotros--h {
        text-align: center;
        margin: 0 0 1rem 0; }
      .contenedor__div__nosotros--list {
        text-align: center;
        margin: 0 0 1rem 0;
        list-style: none;
        padding: 0; }
        .contenedor__div__nosotros--list--item {
          padding: .1em; }
    .contenedor__div__formulario {
      background-color: #FBE0AE; }
      .contenedor__div__formulario--form {
        display: grid;
        grid-template-columns: 1fr 1fr; }
        .contenedor__div__formulario--form--bloque {
          grid-column: 1 / 3;
          margin: 0;
          padding: 1em; }
          .contenedor__div__formulario--form--bloque--textarea {
            width: 100%;
            padding: 0.7em;
            border: none;
            background: none;
            border-bottom: 1px solid #d63031;
            outline: 0; }
          .contenedor__div__formulario--form--bloque--button {
            width: 100%;
            padding: 0.7em;
            border: none;
            background: none;
            border-bottom: 1px solid #d63031;
            outline: 0;
            background: #b70e21;
            color: #000;
            border: 0;
            text-transform: uppercase;
            padding: 1em; }
            .contenedor__div__formulario--form--bloque--button:hover {
              background: #d63031;
              color: #fff;
              transition: background-color 1s ease-out;
              outline: 0; }
            .contenedor__div__formulario--form--bloque--button:focus {
              background: #d63031;
              color: #fff;
              transition: background-color 1s ease-out;
              outline: 0; }
        .contenedor__div__formulario--form--sec {
          margin: 0;
          padding: 1em; }
          .contenedor__div__formulario--form--sec--input {
            width: 100%;
            padding: 0.7em;
            border: none;
            background: none;
            border-bottom: 1px solid #d63031;
            outline: 0; }

@media (min-width: 700px) {
  .contenedor__div {
    display: grid;
    grid-template-columns: 1fr 2fr; }
  .contenedor__div > * {
    padding: 2em; } }

.section {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .section__izq {
    align-items: center;
    justify-items: center;
    margin: 10px;
    display: flex; }
    .section__izq--p {
      font-size: 15px;
      text-align: center;
      align-items: center;
      justify-content: center; }
  .section__der {
    margin: 10px; }
    .section__der--img {
      height: 70vh;
      width: 50vw; }

@media (max-width: 700px) {
  .section {
    display: flex;
    flex-direction: column; }
    .section__der--img {
      height: 60vh;
      width: 100%; } }

.sucursales {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  justify-content: space-between;
  margin: 30px 0px; }
  .sucursales__arriba {
    background-color: #E8E8E8;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .sucursales__arriba--img {
      height: 60px; }
    .sucursales__arriba--h2 {
      font-size: 1.3rem; }
  .sucursales__abajo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 500px;
    height: 400px;
    align-items: center; }
    .sucursales__abajo--bloque {
      align-content: center;
      align-items: center;
      justify-items: center; }
      .sucursales__abajo--bloque--h3 {
        padding-bottom: 0.4rem; }

@media (max-width: 425px) {
  .sucursales {
    height: 110vh; }
    .sucursales__abajo {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 100vh; } }

.article {
  margin-top: 30px;
  height: 775px; }
  .article__arriba {
    background-color: #E8E8E8;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .article__arriba--img {
      height: 60px; }
    .article__arriba--h2 {
      font-size: 1.3rem; }
  .article__abajo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px;
    align-items: center;
    justify-items: center;
    margin: 10px 70px;
    color: #333333;
    height: 200PX; }
    .article__abajo section {
      width: 300px;
      height: 315px;
      border-radius: 10px;
      text-align: center; }
      .article__abajo section img {
        width: 200px;
        height: 170px;
        text-align: center;
        margin-top: 5px;
        border-radius: 10px; }
        .article__abajo section img div h2 {
          font-size: 20px;
          text-align: center; }
        .article__abajo section img div p {
          font-size: 15px;
          text-align: center; }

@media (max-width: 768px) {
  .article {
    height: 2100px; }
    .article__abajo {
      display: flex;
      flex-direction: column;
      margin: 10px; }
      .article__abajo section {
        margin: 10px; } }

.redir {
  background-color: #000;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .redir__izq {
    width: 50%;
    margin-top: 15px;
    display: flex;
    justify-content: center; }
    .redir__izq--img {
      height: 50vh;
      width: 30vw; }
  .redir__der {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .redir__der--p {
      color: #fff;
      text-transform: uppercase;
      font-size: 25px; }
    .redir__der--div {
      background-color: #F2C13C;
      width: 350px;
      height: 55px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .redir__der--div--a {
        font-size: 17px;
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        font-weight: bold; }
      .redir__der--div :hover {
        color: #fff;
        transition: background-color 1s ease-out;
        color: #fff; }

@media (max-width: 425px) {
  .redir {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-around; }
    .redir__izq--img {
      height: 30vh;
      width: 50vw; }
    .redir__der {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .redir__der--p {
        font-size: 20px;
        text-align: center; }
      .redir__der--div {
        width: 180px;
        height: 55px; }
        .redir__der--div--a {
          font-size: 15px;
          text-align: center; } }
